<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>
<header th:insert="layout/header.html"></header>
<div style="float: left; width: 10%; min-height: 500px;">1</div>
<div style="float: left; width: 80%; min-height: 500px;">2
    <div>
        <img alt="" src="" type="" >
    </div>
    <h1>메인화면</h1>
    <p>배너</p>
    <p>자유게시판</p>
    <p>베스트 도서정보</p>
    <p>이벤트</p>
</div>
<div style="float: left; width: 10%; min-height: 500px;">3</div>
<header th:insert="layout/fooler.html"></header>
</body>
</html>