<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <!-- <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">-->
    <meta charset="UTF-8">
    <title>아이디 중복 체크</title>
    <style type="text/css">
        #wrap{
            width : 490px;
            text-align : center;
            margin : 0 auto 0 auto;
        }
        #chk{
            text-align : center;
        }

        #cancelBtn{
            visibility: visible;
        }
        #useBtn{
            visibility: hidden;
        }
    </style>
</head>
<body onload="pValue()">
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<div id="wrap">
    <br>
    <b><font size="4" color="gray">아이디 중복체크</font></b>
    <hr size="1" width="460">
    <br>
    <div id="chk">
        <form id="checkForm">
            <input type="text" name="idinput" id="userId">
            <input type="button" value="중복확인" onclick="idCheck();">
        </form>
        <div id="msg"></div>
        <br>
        <input id="cancelBtn" type="button" value="취소" onclick="window.close()">
        <input id="useBtn" type="button" value="사용하기" onclick="sendCheckValue()">
    </div>
</div>
<script type="text/javascript">

    var httpRequest = null;

    // httpRequest 객체 생성
    function getXMLHttpRequest() {
        // httpRequest 초기값 설정
        var httpRequest = null;

        //
        if (window.ActiveXObject) {

            //
            try {
                httpRequest = new ActiveXOgject("Msxml2.XMLHTTP");
            } catch (e) {

                //
                try {
                    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e2) {
                    httpRequest = null;
                }
            }
        }

        //
        else if(window.HMLHttpRequest){
            httpRequest = new window.HMLHttpRequest();
        }

        //
        return httpRequest;
    }

    // 회원가입창의 아이디 입력란의 값을 가져온다.
    function pValue(){
        document.getElementById("userId").value = opener.document.getElementById("userId").value;
    }

    // 아이디 중복 체크
    function idCheck(){
        var userId = document.getElementById("userId").value;
        // ID조건 : 영문과 숫자만 입력가능하다, 6자리에서 20 자리까지 입력 가능
        var userType = /^[a-z]+[a-z0-9]{5,19}$/g;
        if (!userId) {
            alert("아이디를 입력하지 않았습니다.");
            return false;
        }
        /*else if((userId < "0" || userId > "9") && (userId < "A" || userId > "Z") && (userId < "a" || userId > "z")){*/
        else if(!userType.test($("input[id='userId']").val())){
            alert("한글 및 특수문자는 아이디로 사용하실수 없습니다.");
            document.getElementById("useBtn").style.visibility='hidden';
            document.getElementById("msg").innerHTML = "사용할수없는 아이디입니다.";
            return false;
        }
        else {
            /*var param = "id=" + id;
            alert("param ::: " + param);
            httpRequest = getXMLHttpRequest();
            httpRequest.onreadystatechange = callback();
            httpRequest.open("POST", "/login/MemberIdCheckAction", true);
            httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            httpRequest.send(param);*/

            /*alert("도착 ::: " + userId)*/

            $.ajax({
                url: "/login/idCheck",
                type : "post",
                dataType : "json",
                data : {"userId" : userId},
                success : function(data){
                    /*alert("중복체크 성공");*/
                    callback(data);
                }
                ,error(){
                    /*alert("중복체크 에러");*/
                }
            })
        }
    }

    //
    function callback(data){
        if(data == 1){
            document.getElementById("cancelBtn").style.visibility='visible';
            document.getElementById("useBtn").style.visibility='hidden';
            document.getElementById("msg").innerHTML = "사용할수없는 아이디입니다.";
        }
        else if(data == 0){
            /*document.getElementById("cancelBtn").style.visibility='hidden';*/
            document.getElementById("useBtn").style.visibility='visible';
            document.getElementById("msg").innerHTML = "사용 가능한 아이디입니다.";
        }
    }
    // 사용하기 클릭시 부모창으로 값 전달
    function sendCheckValue(){

        // 중복체크 결과인 idCheck 값을 전달한다.
        opener.document.getElementById("idDuplication").value = document.getElementById("userId").value;
        // 회원가입 화면의 ID입력란에 값을 전달
        opener.document.getElementById("userId").value = document.getElementById("userId").value;

        if(opener != null){
            opener.chkForm = null;
            self.close();
            /*window.open(",'_self',");
            window.close();*/
        }
    }
</script>
</body>
</html>