<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="layout/header.html"></header>
<!-- 등록시 필요정보 : 제목, 내용, 파일(다중 파일), 이미지(대표이미지) -->
<style>
    .orderBy > span:link { color: black; text-decoration: none;}
    .orderBy > span:visited { color: darkmagenta; text-decoration: none;}
    .orderBy > span:hover { color: blue; text-decoration: underline;}
</style>
<div>
    <div style="width:80%; margin: 10px  auto;">
        <div>
            <div>
                <form name="loginform" method="post" action="/login/loginForm" onsubmit="return loginCheck()">
                    <div>
                        <input type="text" id="userId" name="userId" placeholder="id를 입력해 주세요">
                    </div>
                    <div>
                        <input type="password" id="pass" name="pass" placeholder="비밀번호를 입력해 주세요" >
                    </div>
                    <th:block th:if="${msg == false}">
                        <p style="color: #ff0000;">로그인 실패! 아이디와 비밀번호 확인해주세요.</p>
                    </th:block>
                    <!--<input type="checkbox">
                    <span>로그인 상태유지</span>
                    <input type="checkbox">
                    <span>아이디저장</span>-->
                    <div>
                        <span>회원이 아직 아니신가요?</span>
                        <a href="/login/signUp" >회원가입</a>
                    </div>
                    <button type="submit">로그인</button>
                    <!--<button id="loginBtn" onclick="loginBtn()">로그인</button>-->
                </form>
                <div><span><a href="/login/idFind">아이디찾기</a></span> | <span><a href="/login/pwFind">비밀번호찾기</a></span></div>
            </div>
            <div>
                <p>네이버 로그인</p>
                <p>카카오 로그인</p>
            </div>
        </div>
    </div>
</div>
<fooler th:insert="layout/fooler.html"></fooler>
<script type="text/javascript">
    function loginCheck(){
        var form = form.loginform;

        if(form.userId.value){
            alert("아이디를 입력해주세요.");
            form.userId.focus();
            return false;
        }
        if(form.pass.value){
            alert("비밀번호를 입력해주세요.");
            form.pass.focus();
            return false;
        }
        return true;
    }
</script>
</body>
</html>