<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="layout/header.html"></header>
<!-- 등록시 필요정보 : 제목, 내용, 파일(다중 파일), 이미지(대표이미지) -->
<style>
    .orderBy > span:link { color: black; text-decoration: none;}
    .orderBy > span:visited { color: darkmagenta; text-decoration: none;}
    .orderBy > span:hover { color: blue; text-decoration: underline;}
</style>
<div>
    <div style="width:80%; margin: 10px  auto;">
        <div>
            <div>
                <input type="text" id="userid" placeholder="id를 입력해 주세요">
                <input type="text" id="password" placeholder="비밀번호를 입력해 주세요" >
                <!--<input type="checkbox">
                <span>로그인 상태유지</span>
                <input type="checkbox">
                <span>아이디저장</span>-->
                <div><span>회원이 아직 아니신가요?</span><a href="/login/signUp" >회원가입</a></div>
                <button id="loginBtn" onclick="loginBtn()">로그인</button>
                <div><span><a>아이디찾기</a></span> | <span><a>비밀번호찾기</a></span></div>
            </div>
            <div>
                <p>네이버 로그인</p>
                <p>카카오 로그인</p>
            </div>
        </div>
    </div>
</div>
<fooler th:insert="layout/fooler.html"></fooler>
<script type="text/javascript">
    function loginBtn(){
        var id =
    }
</script>
</body>
</html>